<!-- <div class="row heading" style="width: 100%;">
    <div class="col-md-4"></div>
    <div class="col-md-3 mt-2">
      <h1>LOVIGATE</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 smPolja mt-2">
  
    </div>

    <div class="col-md-5"></div>

<div class="row">
    <div class="col-md-2">
      <button mat-stroked-button color="primary" (click)="openListView()">Prikazi listu dodatih lokacija</button>
    </div>
  </div>

  <br>


    <div class="col-md-10"></div>

    <div class="row" style="margin-left: 6%;">

    <div class="col-md-2 mt-2">
      <button mat-stroked-button color="primary" (click)="pretraziLokacije()">Pronadji</button>
    </div>
  </div>

  <br>
  </div> -->





<div class="map-wrap">

  <nav>
    <h4 style="display: inline; margin-left: -60%">LOVIGATE</h4>
    <ul>
      <li><a (click)="pretraziLokacije()">Pronadji putanju</a></li>
      <li><a (click)="openListView()">Prikazi listu lokacija</a></li>
      <li><a (click)="clearRoute()">Poništi rutu</a></li>
    </ul>
  </nav>


  <a href="https://www.maptiler.com" class="watermark"><img src="https://api.maptiler.com/resources/logo.svg"
      alt="MapTiler logo" /></a>
  <div class="map" #map></div>

</div>